In [12]:
import geopandas
import pandas as pd

In [ ]:
shapefile = "/Users/bwarren/Downloads/tl_2018_us_cd116/tl_2018_us_cd116.shp"
states = geopandas.read_file(shapefile)

In [66]:
states.describe()

              ALAND        AWATER
count  4.440000e+02  4.440000e+02
mean   2.063031e+10  1.573340e+09
std    7.819581e+10  1.225992e+10
min    0.000000e+00  1.668300e+04
25%    8.600088e+08  4.816271e+07
50%    5.397614e+09  2.226828e+08
75%    1.784319e+10  7.282913e+08
max    1.478840e+12  2.454816e+11

In [22]:
state_fips = pd.read_csv('state_fips.csv')
state_fips.head()

       stname   st  stusps
0     Alabama    1      AL
1      Alaska    2      AK
2     Arizona    4      AZ
3    Arkansas    5      AR
4  California    6      CA

In [78]:
sample = pd.read_csv('~/.interchange/gerrymander_sample.csv')
sample = sample.loc[:, ~sample.columns.str.contains('^Unnamed')]

sample.describe()

,year,district,republican_votes,democratic_votes,r_edge
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,2010.096010,10.015002,118054.203420,119282.886589,-1228.683168
std,5.119733,10.617197,55638.177199,50804.066867,80933.346152
min,2002.000000,0.000000,332.000000,10919.000000,-287383.000000
25%,2006.000000,3.000000,74811.000000,82161.000000,-63498.000000
50%,2010.000000,6.000000,117023.000000,112309.000000,8998.000000
75%,2014.000000,13.000000,158730.000000,150914.000000,63708.000000
max,2018.000000,53.000000,308470.000000,329800.000000,206442.000000

In [79]:
sample = sample.merge(state_fips, left_on='state', right_on='stname')
sample = sample.rename(columns=lambda x: x.strip())
sample.head()

,year,state,district,republican_candidate,republican_votes,republican_party,democratic_candidate,democratic_votes,democratic_party,r_edge,stname,st,stusps
0,2002,Alabama,1,Jo Bonner,108102.0,republican,Judy McCain Belk,67507.0,democrat,40595.0,Alabama,1,AL
1,2002,Alabama,2,Terry Everett,129233.0,republican,Charles Woods,55495.0,democrat,73738.0,Alabama,1,AL
2,2002,Alabama,3,Mike Rogers,91169.0,republican,Joe Turnham,87351.0,democrat,3818.0,Alabama,1,AL
3,2002,Alabama,5,Stephen P. Engel,48226.0,republican,Robert E. (Bud) Cramer Jr.,143029.0,democrat,-94803.0,Alabama,1,AL
4,2004,Alabama,1,Jo Bonner,161067.0,republican,Judy Belk,93938.0,democrat,67129.0,Alabama,1,AL

In [80]:
r_edge_by_district = sample.groupby(['district', 'st']).r_edge.sum().reset_index()
r_edge_by_district.describe()

         district          st        r_edge
count  444.000000  444.000000  4.440000e+02
mean    10.353604   27.736486 -9.223426e+03
std     10.639112   16.025528  5.222523e+05
min      0.000000    1.000000 -1.745463e+06
25%      3.000000   12.000000 -4.106578e+05
50%      7.000000   27.500000  4.976550e+04
75%     14.000000   42.000000  4.072358e+05
max     53.000000   56.000000  1.181495e+06

In [72]:
sample.columns

Index(['year', 'state', 'district', 'republican_candidate', 'republican_votes',
       'republican_party', 'democratic_candidate', 'democratic_votes',
       'democratic_party', 'r_edge'],
      dtype='object')

In [99]:
r_edge_by_district['DISTRICTID'] = r_edge_by_district.district.apply(lambda x: f'{x:02}')
r_edge_by_district['STATEID'] = r_edge_by_district['st'].apply(lambda x: f'{x:02}')
r_edge_by_district['GEOID'] =  r_edge_by_district['STATEID'] + r_edge_by_district['DISTRICTID']
sorted(r_edge_by_district.GEOID.unique())

['0101',
 '0102',
 '0103',
 '0104',
 '0105',
 '0106',
 '0107',
 '0200',
 '0401',
 '0402',
 '0403',
 '0404',
 '0405',
 '0406',
 '0407',
 '0408',
 '0409',
 '0501',
 '0502',
 '0503',
 '0504',
 '0601',
 '0602',
 '0603',
 '0604',
 '0605',
 '0606',
 '0607',
 '0608',
 '0609',
 '0610',
 '0611',
 '0612',
 '0613',
 '0614',
 '0615',
 '0616',
 '0617',
 '0618',
 '0619',
 '0620',
 '0621',
 '0622',
 '0623',
 '0624',
 '0625',
 '0626',
 '0627',
 '0628',
 '0629',
 '0630',
 '0631',
 '0632',
 '0633',
 '0634',
 '0635',
 '0636',
 '0637',
 '0638',
 '0639',
 '0640',
 '0641',
 '0642',
 '0643',
 '0644',
 '0645',
 '0646',
 '0647',
 '0648',
 '0649',
 '0650',
 '0651',
 '0652',
 '0653',
 '0801',
 '0802',
 '0803',
 '0804',
 '0805',
 '0806',
 '0807',
 '0901',
 '0902',
 '0903',
 '0904',
 '0905',
 '1000',
 '1201',
 '1202',
 '1203',
 '1204',
 '1205',
 '1206',
 '1207',
 '1208',
 '1209',
 '1210',
 '1211',
 '1212',
 '1213',
 '1214',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1221',
 '1222',
 '1223',
 '1224',
 '1225',
 '1226',
 '1227',
 '1301',
 '1302',
 '1303',
 '1304',
 '1305',
 '1306',
 '1307',
 '1308',
 '1309',
 '1310',
 '1311',
 '1312',
 '1313',
 '1314',
 '1501',
 '1502',
 '1601',
 '1602',
 '1701',
 '1702',
 '1703',
 '1704',
 '1705',
 '1706',
 '1707',
 '1708',
 '1709',
 '1710',
 '1711',
 '1712',
 '1713',
 '1714',
 '1715',
 '1716',
 '1717',
 '1718',
 '1719',
 '1801',
 '1802',
 '1803',
 '1804',
 '1805',
 '1806',
 '1807',
 '1808',
 '1809',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '2001',
 '2002',
 '2003',
 '2004',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2201',
 '2202',
 '2203',
 '2204',
 '2205',
 '2206',
 '2207',
 '2301',
 '2302',
 '2401',
 '2402',
 '2403',
 '2404',
 '2405',
 '2406',
 '2407',
 '2408',
 '2501',
 '2502',
 '2503',
 '2504',
 '2505',
 '2506',
 '2507',
 '2508',
 '2509',
 '2510',
 '2601',
 '2602',
 '2603',
 '2604',
 '2605',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2611',
 '2612',
 '2613',
 '2614',
 '2615',
 '2701',
 '2704',
 '2705',
 '2707',
 '2708',
 '2801',
 '2802',
 '2803',
 '2804',
 '2901',
 '2902',
 '2903',
 '2904',
 '2905',
 '2906',
 '2907',
 '2908',
 '2909',
 '3000',
 '3101',
 '3102',
 '3103',
 '3201',
 '3202',
 '3203',
 '3204',
 '3301',
 '3302',
 '3401',
 '3402',
 '3403',
 '3404',
 '3405',
 '3406',
 '3407',
 '3408',
 '3409',
 '3410',
 '3411',
 '3412',
 '3413',
 '3501',
 '3502',
 '3503',
 '3601',
 '3602',
 '3603',
 '3604',
 '3605',
 '3606',
 '3607',
 '3608',
 '3609',
 '3610',
 '3611',
 '3612',
 '3613',
 '3614',
 '3615',
 '3616',
 '3617',
 '3618',
 '3619',
 '3620',
 '3621',
 '3622',
 '3623',
 '3624',
 '3625',
 '3626',
 '3627',
 '3628',
 '3629',
 '3701',
 '3702',
 '3703',
 '3704',
 '3705',
 '3706',
 '3707',
 '3708',
 '3709',
 '3710',
 '3711',
 '3712',
 '3713',
 '3800',
 '3901',
 '3902',
 '3903',
 '3904',
 '3905',
 '3906',
 '3907',
 '3908',
 '3909',
 '3910',
 '3911',
 '3912',
 '3913',
 '3914',
 '3915',
 '3916',
 '3917',
 '3918',
 '4001',
 '4002',
 '4003',
 '4004',
 '4005',
 '4101',
 '4102',
 '4103',
 '4104',
 '4105',
 '4201',
 '4202',
 '4203',
 '4204',
 '4205',
 '4206',
 '4207',
 '4208',
 '4209',
 '4210',
 '4211',
 '4212',
 '4213',
 '4214',
 '4215',
 '4216',
 '4217',
 '4218',
 '4219',
 '4401',
 '4402',
 '4501',
 '4502',
 '4503',
 '4504',
 '4505',
 '4506',
 '4507',
 '4600',
 '4701',
 '4702',
 '4703',
 '4704',
 '4705',
 '4706',
 '4707',
 '4708',
 '4709',
 '4801',
 '4802',
 '4803',
 '4804',
 '4805',
 '4806',
 '4807',
 '4808',
 '4809',
 '4810',
 '4811',
 '4812',
 '4813',
 '4814',
 '4815',
 '4816',
 '4817',
 '4818',
 '4819',
 '4820',
 '4821',
 '4822',
 '4823',
 '4824',
 '4825',
 '4826',
 '4827',
 '4828',
 '4829',
 '4830',
 '4831',
 '4832',
 '4833',
 '4834',
 '4835',
 '4836',
 '4901',
 '4902',
 '4903',
 '4904',
 '5000',
 '5101',
 '5102',
 '5103',
 '5104',
 '5105',
 '5106',
 '5107',
 '5108',
 '5109',
 '5110',
 '5111',
 '5301',
 '5302',
 '5303',
 '5304',
 '5305',
 '5306',
 '5307',
 '5308',
 '5309',
 '5310',
 '5401',
 '5402',
 '5403',
 '5501',
 '5502',
 '5503',
 '5504',
 '5505',
 '5506',
 '5507',
 '5508',
 '5600']

In [98]:
sorted(states.GEOID)

['0101',
 '0102',
 '0103',
 '0104',
 '0105',
 '0106',
 '0107',
 '0200',
 '0401',
 '0402',
 '0403',
 '0404',
 '0405',
 '0406',
 '0407',
 '0408',
 '0409',
 '0501',
 '0502',
 '0503',
 '0504',
 '0601',
 '0602',
 '0603',
 '0604',
 '0605',
 '0606',
 '0607',
 '0608',
 '0609',
 '0610',
 '0611',
 '0612',
 '0613',
 '0614',
 '0615',
 '0616',
 '0617',
 '0618',
 '0619',
 '0620',
 '0621',
 '0622',
 '0623',
 '0624',
 '0625',
 '0626',
 '0627',
 '0628',
 '0629',
 '0630',
 '0631',
 '0632',
 '0633',
 '0634',
 '0635',
 '0636',
 '0637',
 '0638',
 '0639',
 '0640',
 '0641',
 '0642',
 '0643',
 '0644',
 '0645',
 '0646',
 '0647',
 '0648',
 '0649',
 '0650',
 '0651',
 '0652',
 '0653',
 '0801',
 '0802',
 '0803',
 '0804',
 '0805',
 '0806',
 '0807',
 '0901',
 '0902',
 '0903',
 '0904',
 '0905',
 '09ZZ',
 '1000',
 '1198',
 '1201',
 '1202',
 '1203',
 '1204',
 '1205',
 '1206',
 '1207',
 '1208',
 '1209',
 '1210',
 '1211',
 '1212',
 '1213',
 '1214',
 '1215',
 '1216',
 '1217',
 '1218',
 '1219',
 '1220',
 '1221',
 '1222',
 '1223',
 '1224',
 '1225',
 '1226',
 '1227',
 '1301',
 '1302',
 '1303',
 '1304',
 '1305',
 '1306',
 '1307',
 '1308',
 '1309',
 '1310',
 '1311',
 '1312',
 '1313',
 '1314',
 '1501',
 '1502',
 '1601',
 '1602',
 '1701',
 '1702',
 '1703',
 '1704',
 '1705',
 '1706',
 '1707',
 '1708',
 '1709',
 '1710',
 '1711',
 '1712',
 '1713',
 '1714',
 '1715',
 '1716',
 '1717',
 '1718',
 '17ZZ',
 '1801',
 '1802',
 '1803',
 '1804',
 '1805',
 '1806',
 '1807',
 '1808',
 '1809',
 '1901',
 '1902',
 '1903',
 '1904',
 '2001',
 '2002',
 '2003',
 '2004',
 '2101',
 '2102',
 '2103',
 '2104',
 '2105',
 '2106',
 '2201',
 '2202',
 '2203',
 '2204',
 '2205',
 '2206',
 '2301',
 '2302',
 '2401',
 '2402',
 '2403',
 '2404',
 '2405',
 '2406',
 '2407',
 '2408',
 '2501',
 '2502',
 '2503',
 '2504',
 '2505',
 '2506',
 '2507',
 '2508',
 '2509',
 '2601',
 '2602',
 '2603',
 '2604',
 '2605',
 '2606',
 '2607',
 '2608',
 '2609',
 '2610',
 '2611',
 '2612',
 '2613',
 '2614',
 '26ZZ',
 '2701',
 '2702',
 '2703',
 '2704',
 '2705',
 '2706',
 '2707',
 '2708',
 '2801',
 '2802',
 '2803',
 '2804',
 '2901',
 '2902',
 '2903',
 '2904',
 '2905',
 '2906',
 '2907',
 '2908',
 '3000',
 '3101',
 '3102',
 '3103',
 '3201',
 '3202',
 '3203',
 '3204',
 '3301',
 '3302',
 '3401',
 '3402',
 '3403',
 '3404',
 '3405',
 '3406',
 '3407',
 '3408',
 '3409',
 '3410',
 '3411',
 '3412',
 '3501',
 '3502',
 '3503',
 '3601',
 '3602',
 '3603',
 '3604',
 '3605',
 '3606',
 '3607',
 '3608',
 '3609',
 '3610',
 '3611',
 '3612',
 '3613',
 '3614',
 '3615',
 '3616',
 '3617',
 '3618',
 '3619',
 '3620',
 '3621',
 '3622',
 '3623',
 '3624',
 '3625',
 '3626',
 '3627',
 '3701',
 '3702',
 '3703',
 '3704',
 '3705',
 '3706',
 '3707',
 '3708',
 '3709',
 '3710',
 '3711',
 '3712',
 '3713',
 '3800',
 '3901',
 '3902',
 '3903',
 '3904',
 '3905',
 '3906',
 '3907',
 '3908',
 '3909',
 '3910',
 '3911',
 '3912',
 '3913',
 '3914',
 '3915',
 '3916',
 '4001',
 '4002',
 '4003',
 '4004',
 '4005',
 '4101',
 '4102',
 '4103',
 '4104',
 '4105',
 '4201',
 '4202',
 '4203',
 '4204',
 '4205',
 '4206',
 '4207',
 '4208',
 '4209',
 '4210',
 '4211',
 '4212',
 '4213',
 '4214',
 '4215',
 '4216',
 '4217',
 '4218',
 '4401',
 '4402',
 '4501',
 '4502',
 '4503',
 '4504',
 '4505',
 '4506',
 '4507',
 '4600',
 '4701',
 '4702',
 '4703',
 '4704',
 '4705',
 '4706',
 '4707',
 '4708',
 '4709',
 '4801',
 '4802',
 '4803',
 '4804',
 '4805',
 '4806',
 '4807',
 '4808',
 '4809',
 '4810',
 '4811',
 '4812',
 '4813',
 '4814',
 '4815',
 '4816',
 '4817',
 '4818',
 '4819',
 '4820',
 '4821',
 '4822',
 '4823',
 '4824',
 '4825',
 '4826',
 '4827',
 '4828',
 '4829',
 '4830',
 '4831',
 '4832',
 '4833',
 '4834',
 '4835',
 '4836',
 '4901',
 '4902',
 '4903',
 '4904',
 '5000',
 '5101',
 '5102',
 '5103',
 '5104',
 '5105',
 '5106',
 '5107',
 '5108',
 '5109',
 '5110',
 '5111',
 '5301',
 '5302',
 '5303',
 '5304',
 '5305',
 '5306',
 '5307',
 '5308',
 '5309',
 '5310',
 '5401',
 '5402',
 '5403',
 '5501',
 '5502',
 '5503',
 '5504',
 '5505',
 '5506',
 '5507',
 '5508',
 '5600',
 '6098',
 '6698',
 '6998',
 '7298',
 '7898']

In [103]:
foo = states.merge(r_edge_by_district, on='GEOID')
foo.to_file("test.shp")